<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h2>Welcome my Friends</h2>
    <p>
        Your Random Number is <b><%= number %></b>
    </p>
  </body>
</html>
